body {
  margin: 0;
  box-sizing: border-box;
  background-image:
    linear-gradient(95deg,#fcccb0 5%, #fdeac4 40%,#faefe8 70%);
}

a {
  text-decoration: none;
}

#navBar * {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px, 0;
}

#logo {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

#main>h3 {
  padding-left: 30px;
}

#login {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 1px 0;
  border: none;
}

#add-site {
  display: flex;
  justify-content: space-between;
}

/* #login-signin-button {
  width: 155px;
  background-color: #5061a9;
  color: white;
  font-size: medium;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 4px 3px gray;
} */

#extension-login {
  display: flex;
  justify-content: space-between;
  width: 8%;
}



#googleIcon {
  height: 36px;
  width: 36px;
  background-color: white;
  padding: 0;
  margin: 0 0 0 0;
  vertical-align: text-top;
}

#blockList {
  display: flex;
  position: center;
}

#container {
  display: flex;
  width: 80%;
  margin: auto;
}

#currBlocked {
  list-style: none;
}

img {
  width: 30%;
}

.auth {
  display: inline;
}

#player {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 10px;
}

#controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#controls button {
  background: linear-gradient(45deg, #f2b1bf 30%, #9e75c7 90%);
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  color: white;
  border-radius: 15px;
  border: 0;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 1rem;
  left: 0;
}

#intro-content {
  display: flex;
  justify-content: space-around;
  height: 500px;
}

#profile-expand {
  height: 80%;
  display: flex;
}

#profile-expand svg {
  font-size: 50px;
}

#profile-expand a {
  color: black;
}

.each-profile {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 350px;
  display: flex;
  height: 70px;
  position: relative;
  top: 280px;
}

.dev-name {
  width: 40%;
  background-color: black;
  color: white;
  padding: 10px;
  font-family: 'Nanum Pen Script';
  font-size: 1.5em;
}

.links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#avatars {
  height: 20%;
}

#avatar div {
  z-index: 1;
}

#avatars div:hover {
  position: relative;
  top: -30px;
  left: -10px;
  border: 3px solid black;
  box-shadow: 7px 7px black;
  z-index: 2
}

.paper {
  font-size:'30px';
  position:relative;
  height: 550px;
  width: 450px;
  background: rgba(255, 255, 255, 0.9);
  margin: -275px -225px;
  left: 150px;
  top: 300px;
  box-shadow: 0px 0px 6px 0px #888;
}
.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
  position: absolute;
  top: 65px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 28px;
  font-family: 'Nanum Pen Script';
  font-size: 28px;
  overflow: hidden;
  outline: none;
}
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: rgba(255, 232, 188, 0.9);
  border-radius: 50%;
  box-shadow: inset 1px 0px 2px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}

#device-list, #all-playlists {
  border-radius: 15px;
  box-shadow: 0 3px 5px 2px #b49b8f;
  width: 380px;
  margin-bottom: 10px;
  background-image:
    linear-gradient(140deg,#faefe8 25%, #d7dae8 50%,#cedaa4 90%);
  padding: 5px;
}
