body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#navBar * {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* z-index: 0; */
  /* background-color: #4d2a4e; */
  margin: 0;
  padding: 0px, 0;
}
#navBar .home {
  justify-content: start;
  flex-wrap: wrap;
  /* z-index: 200; */
}
#navBar .account {
  justify-content: start;
  flex-wrap: wrap;
  /* z-index: 200; */
}
#navBar .extension-login {
  justify-content: end;
}

#Intro {
  display: flex;
  padding: 50px;
  margin: 100px;
  background-color: #5061a9;
  color: white;
  line-height: 30px;
  font-size: larger;
  text-shadow: 3px 3px 2px rgb(99, 98, 98);
  box-shadow: 3px 3px 5px gray;
}

form * {
  display: flex;
  justify-content: fcenter;
  padding: 5px;
  margin: 1px 0;
  border: none;
}

#login-signin-button {
  width: 155px;
  background-color: #5061a9;
  color: white;
  font-size: medium;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 4px 3px gray;
}

#googleSignOut {
  color: rgb(66, 133, 244);
  background-color: rgb(255, 255, 255);
  height: 45px;
  width: 220px;
  border: none;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
  font-size: 18px;
  /* line-height: 48px;  */
  display: block;
  border-radius: 3px;
  font-family: Roboto, arial, sans-serif;
  cursor: pointer;
  user-select: none;
}

#googleSignIn {
  color: rgb(66, 133, 244);
  background-color: rgb(255, 255, 255);
  height: 45px;
  width: 220px;
  border: none;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
  font-size: 18px;
  /* line-height: 48px;  */
  display: block;
  border-radius: 3px;
  font-family: Roboto, arial, sans-serif;
  cursor: pointer;
  user-select: none;
}
#googleIcon {
  height: 36px;
  width: 36px;
  background-color: white;
  padding: 0;
  margin: 0 0 0 0;
  vertical-align: text-top;
}
#main {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 900px 200px;
  grid-column-gap: 25px;
}

#app,
body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#currBlocked {
  list-style: none;
}

img {
  width: 30%;
}

.auth {
  display: inline;
}

#player {
  display: flex;
  margin: 25px;
  padding: 10px;
}

#controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#controls button {
  background: linear-gradient(45deg, #f2b1bf 30%, #9e75c7 90%);
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  color: white;
  border-radius: 15px;
  border: 0;
  width: 100px;
  height: 100px;
  margin: 10px;
}
