body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#navBar * {
  display: flex;
  /* justify-content: space-between; */
  margin: 1em;
}

.Google-button {
  /* width: 20px;
  height: 45px; */
  margin: 0 auto;
}

#app,
body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#currBlocked {
  list-style: none;
}

img {
  width: 30%;
}

.auth {
  display: inline;
}

#player {
  display: flex;
}
