body {
  font-family: sans-serif;
  background-color: rgb(66, 66, 66);
  color: white;
}

a {
  text-decoration: none;
}

#navBar * {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#app,
body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#currBlocked {
  list-style: none;
}

img {
  width: 30%;
}

.auth {
  display: inline;
}

#player {
  display: flex;
}
